* {
    padding: 0;
    margin: 0;
    transition: 1s;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(178, 201, 177);
}

.wrapper {
    width: 80vw;
    margin: 5% auto;

}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 1%;
    

}

.slides {
    overflow: hidden;
    height: 40vw;
    border-radius: 1%;

}

.slider-wrapper {
    /* margin-top: 5vh; */
    display: flex;
    flex-wrap: wrap;
}

input{
     display:none;
}


img {

    width: 100%;
    height: 100%;
    
}

.navi:checked~img {
    display: none;
}

.navigation {
    display: flex;
    gap: 1.3vw;

}

.navi {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    opacity: 0.7;
    border: 0.1rem solid;
    border-color: rgb(0, 0, 0);
    cursor: pointer;


}



.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    height: 8vh;
}

.description-wrapper{
    margin-top: 3vh;
    overflow: hidden;
    height: 2.5vh;
}


#rad_1:checked~.pagination .navigation .navi1 {
    background-color: green;
}

#rad_2:checked~.pagination .navigation .navi2 {
    background-color: green;
}
#rad_3:checked~.pagination .navigation .navi3 {
    background-color: green;
}
#rad_4:checked~.pagination .navigation .navi4 {
    background-color: green;
}
#rad_5:checked~.pagination .navigation .navi5 {
    background-color: green;
}


#rad_2:checked~.pagination .description .description-wrapper .descriptions  {
    margin-top: -2.5vh;
}

#rad_3:checked~.pagination .description .description-wrapper .descriptions  {
    margin-top: -5vh;
}
#rad_4:checked~.pagination .description .description-wrapper .descriptions  {
    margin-top: -7.5vh;
}
#rad_5:checked~.pagination .description .description-wrapper .descriptions  {
    margin-top: -10vh;
}

#rad_2:checked~.slides .slider-wrapper {
    margin-top: -49vw;
}

#rad_3:checked~.slides .slider-wrapper {
    margin-top: -93vw;
}
#rad_4:checked~.slides .slider-wrapper {
    margin-top: -140vw;
}
#rad_5:checked~.slides .slider-wrapper {
    margin-top: -186vw;
}