* {
    padding: 0;
    margin: 0;
    transition: 1s;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(178, 201, 177);
}

.wrapper {
    max-width: 1200px;
    width: 80vw;
    margin: 5% auto;

}

.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 1%;
}

.slides {
    overflow: hidden;
    height: 40vw;
    border-radius: 1%;
}

.slider-wrapper {
    display: flex;
    flex-wrap: wrap;
}

input {
    display: none;
}


img {

    width: 100%;
    height: 100%;

}

.navi:checked~img {
    display: none;
}

.navigation {
    display: flex;
    gap: 1.3vw;

}

.navi {
    padding: 1.3vw;
    cursor: pointer;


}

.navi:hover>.navi-single{
background-color: green;
}

.navi-single {
    display: block;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    opacity: 0.2;
    transition: 0.5s;
}



.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.description {
    height: 8vw;
    min-width: 20%;
}

.description-wrapper {
    margin-top: 3vw;
    overflow: hidden;
    height: 1.1rem;
}


#rad_1:checked~.pagination .navigation .navi .navi_1 {
    background-color: green;
    opacity: 0.8;
    border: 1px solid green;
}

#rad_2:checked~.pagination .navigation .navi .navi_2 {
    background-color: green;
    opacity: 0.8;
    border: 1px solid green;
}

#rad_3:checked~.pagination .navigation .navi .navi_3 {
    background-color: green;
    opacity: 0.8;
    border: 1px solid green;
}

#rad_4:checked~.pagination .navigation .navi .navi_4 {
    background-color: green;
    opacity: 0.8;
    border: 1px solid green;
}

#rad_5:checked~.pagination .navigation .navi .navi_5 {
    background-color: green;
    opacity: 0.8;
    border: 1px solid green;
}


#rad_2:checked~.pagination .description .description-wrapper .descriptions {
    margin-top: -1.1rem;
}

#rad_3:checked~.pagination .description .description-wrapper .descriptions {
    margin-top: -2.2rem;
}

#rad_4:checked~.pagination .description .description-wrapper .descriptions {
    margin-top: -3.4rem;
}

#rad_5:checked~.pagination .description .description-wrapper .descriptions {
    margin-top: -4.6rem;
}

#rad_2:checked~.slides .slider-wrapper {
    margin-top: -50vw;
}

#rad_3:checked~.slides .slider-wrapper {
    margin-top: -93vw;
}

#rad_4:checked~.slides .slider-wrapper {
    margin-top: -140vw;
}

#rad_5:checked~.slides .slider-wrapper {
    margin-top: -186vw;
}


@media (max-width: 499px) {

    .pagination {
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .navigation {
        margin: 2vw auto 0 auto;
    }


}